.Individual {
  width: 80%;
  margin: 20px 20px;
  border: 1px solid rgb(247, 214, 214);
  box-shadow: 0 2px 3px #ccc;
  text-align: center;
}

.Individual label {
  display: block;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
}

.Individual input,
.Individual textarea,
.Individual select {
  display: block;
  width: 80%;
  box-sizing: content-box;
  border: 1px solid black;
  outline: none;
  font: inherit;
  margin: auto;
}

.Individual button {
  margin: 5px 0;
  padding: 10px;
  font: inherit;
  border: 1px solid #fa923f;
  background-color: transparent;
  color: #fa923f;
  cursor: pointer;
}

.Individual button:hover,
.Individual button:active {
  color: white;
  background-color: #fa923f;
}
